<?xml version="1.0"?>
<!-- 
/**
 * @category   Cammino
 * @package    Cammino_Affiliateclub
 * @author     Cammino
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 -->
 <config>
 	<modules>
        <Cammino_Affiliateclub>
            <version>0.0.1</version>
        </Cammino_Affiliateclub>
    </modules>
    <global>
        <template>
            <email>
                <indicator_coupon module="Cammino_Affiliateclub">
                    <label>Indicator Coupon</label>
                    <file>affiliateclub/indicator_coupon.html</file>
                    <type>html</type>
                </indicator_coupon>
                <indicated_coupon module="Cammino_Affiliateclub">
                    <label>Indicator Coupon</label>
                    <file>affiliateclub/indicated_coupon.html</file>
                    <type>html</type>
                </indicated_coupon>
            </email>
        </template>
    	<models>
            <affiliateclub>
                <class>Cammino_Affiliateclub_Model</class>
                <resourceModel>affiliateclub_mysql4</resourceModel>
            </affiliateclub>
            <affiliateclub_mysql4>
                <class>Cammino_Affiliateclub_Model_Mysql4</class>
                <entities>
                    <affiliateclub>
                        <table>affiliateclub</table>
                    </affiliateclub>
                </entities>
            </affiliateclub_mysql4>
        </models>
        <resources>
            <affiliateclub_setup>
                <setup>
                    <module>Cammino_Affiliateclub</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </affiliateclub_setup>
            <affiliateclub_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </affiliateclub_write>
            <affiliateclub_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </affiliateclub_read>
        </resources>
        <blocks>
            <affiliateclub>
                <class>Cammino_Affiliateclub_Block</class>
            </affiliateclub>
        </blocks>
        <helpers>
            <affiliateclub>
                <class>Cammino_Affiliateclub_Helper</class>
            </affiliateclub>
        </helpers>
    	<events>
            <controller_action_layout_load_before>
                <observers>
                    <affiliateclub_check_url>
                        <class>Cammino_Affiliateclub_Model_Observer</class>
                        <method>checkUrl</method>
                    </affiliateclub_check_url>
                </observers>
            </controller_action_layout_load_before>
            <sales_order_invoice_pay>
                <observers>
                    <affiliateclub_check_order_invoiced>
                        <class>Cammino_Affiliateclub_Model_Observer</class>
                        <method>checkOrderInvoiced</method>
                    </affiliateclub_check_order_invoiced>
                </observers>
            </sales_order_invoice_pay>
            <controller_action_postdispatch_checkout_onepage_saveorder>
                <observers>
                    <affiliateclub_check_order_created>
                        <class>Cammino_Affiliateclub_Model_Observer</class> 
                        <method>checkOrderCreated</method>
                    </affiliateclub_check_order_created>
                </observers>
            </controller_action_postdispatch_checkout_onepage_saveorder>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <affiliateclub>
                    <file>affiliateclub.xml</file>
                </affiliateclub>
            </updates>
        </layout>

        <routers>
            <affiliateclub>
                <use>standard</use>
                <args>
                    <module>Cammino_Affiliateclub</module>
                    <frontName>affiliateclub</frontName>
                </args>
            </affiliateclub>
        </routers>
    </frontend>
 </config>